# Dependencies
node_modules/
.pnp
.pnp.js
yarn.lock
package-lock.json
pnpm-lock.yaml

# Testing
coverage/
.nyc_output/

# Next.js
out/
.next/
build/
dist/

# Environment
.env
.env.local
.env.*.local
.env.production.local

# IDE
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*.swn
*~

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.prettierignore
.eslintignore
